/* 
Custom theming 
See https://quarto.org/docs/output-formats/html-themes.html#sass-variables
*/

/*-- scss:defaults --*/
// Base document colors
$body-bg: #FFFFF0;
$body-color: #4c0a53;
$link-color: #2c2ad3;
//$input-bg:
//$popover-bg:

// Font family / size
$font-family-sans-serif: Roboto, Helvetica, Liberation Sans, Arial, Verdana, sans-serif;
//$font-size-root:
//$toc-font-size:

//$h1-font-size
//$h2-font-size
//$h3-font-size

// Code blocks
$code-block-bg-alpha: -.9;


// TOC properties
//$toc-color:
//$toc-font-size:
//$toc-active-border: 
//$toc-inactive-border:

// Navbar
$navbar-bg: #4c0a53;