a {
	overflow-wrap: anywhere;
}

h1 > span, h2 > span {
	overflow-wrap: break-word;
}

#recently-published {
    overflow-wrap: anywhere;
}

/* Fix sidebar panel width and correspondingly adjust left position of main panel*/
.book-summary {
  width: 450px !important;
}
.book.with-summary .book-body {
  left: 450px !important;
}